<%- include("templates/header",{titulopag:'Pagina de inicio'}) %>
    <br>

    <body id="cuerpo_main" class="cuerpoMain row">
        <br><br><br><br><br>
        <div class="col-sm-12 col-md-4">
            <table id="opc_main" class="cuerpoMain__tabla-opciones">
                <tr>
                    <td id="opc_bau" class="cuerpoMain__tabla-opciones__opcion"
                        onclick="location.href='/Tablas/bautizos'">
                        Bautizos <br><span class="material-icons">cake</span></td>
                </tr>
                <tr>
                    <td id="opc_def" class="cuerpoMain__tabla-opciones__opcion"
                        onclick="location.href='/Tablas/defunciones'">Defunciones<br><span
                            class="material-icons">synagogue</span></td>
                </tr>
                <tr>
                    <td id="opc_mat" class="cuerpoMain__tabla-opciones__opcion"
                        onclick="location.href='/Tablas/matrimonios'">Matrimonios<br><span
                            class="material-icons">wc</span></td>
                </tr>
            </table>
        </div>
        <div class="contenido-derecho col-sm-12 col-md-8">
            <img  class="contenido-derecho__imagen" src="/public/src/castas1.jpg" 
                alt="Collage de obras con autoría de Miguel Cabrera"></img>
        </div>
    </body>

    <%- include("templates/footer"); %>