<html lang="ES">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title><%= titulopag %> </title>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/stylo.css">
        <link rel="stylesheet" href="../../node_modules/material-icons/iconfont/material-icons.css">
        <script src="../../node_modules/chart.js/dist/chart.js"></script>
    </head>

    <div id="header" class="row-cols-md-12">
        <header id="cabecera">
            <h1 onclick="location.href='/'">Sistema de Reportes para castas del siglo XVII y XVIII</h1>
            <ul class="d-flex justify-content-center">
                <li onclick="location.href='/'">Pagina principal</li>
                <li onclick="location.href='/Tablas/bautizos'">Bautizos</li>
                <li onclick="location.href='/Tablas/defunciones'">Defunciones</li>
                <li onclick="location.href='/Tablas/matrimonios'">Matrimonios</li>
                <li onclick="location.href='/Tablas/Origenes'">Origenes</li>
            </ul>
        </header>
    </div>
